*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100vw;
    height: 100vh;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vmax 3vmax;
}
.navLeft{
    display: flex;
    gap: 2vmax;
    align-items: center;
}
.navLeft>a{
    text-decoration: none;
    color: black;
}

.navRight>button{
    padding: 0.6vmax 1.2vmax;
    border: 0;
    color: white;
}
.navRight>button:first-child{
    background-color: #F44E6E;
}
.navRight>button:nth-child(2){
    background-color: black;
}

.bottomSec{
    width: 100%;
    height: 90.25%;
    display: flex;
}

.bottomSec>div{
    width: 50%;
    height: 100%;
}
/* https://images.unsplash.com/photo-1721594912269-76711b50290c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */

.bottomRight{
    bg
}